.RentalFleets-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 6rem;
  overflow: hidden;
  position: relative;
  h2 {
    // font-size: 3rem;
    padding-bottom: 4rem;
    text-align: center;
  }
}
