.RentalFleets-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8rem;
  overflow: hidden;
  position: relative;
  h2 {
    // font-size: 3rem;
    padding: 1rem;
    text-align: center;
  }
}
.divider {
  position: relative;
  margin-top: 2rem;
  height: 1px;
}

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    rgb(48, 49, 51),
    transparent
  );
}
