@import "../../styles/base/breakpoints.scss";

.carousel-items {
  display: flex;
  width: 100%;
  margin: 0 auto;
  margin-top: 6rem;
  transition: 300ms ease transform;
  @include md {
    transition: none;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1rem;
    max-width: 80%;
  }
  @include lg {
    margin-top: 8rem;
    max-width: unset;
  }
  @include xxl {
    max-width: 90%;
  }
  @include xxxl {
    max-width: 70%;
  }
}

.carousel-items {
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.carousel-items::-webkit-scrollbar {
  display: none;
}
